* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--app-white);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--app-blue);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font), sans-serif !important;
    font-weight: var(--font-regular) !important;
    color: var(--app-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul,
li {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
select:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: var(--app-blue);
    border-color: var(--app-blue);
}

.custom-checkbox
    .custom-control-input:checked:focus
    ~ .custom-control-label::before {
    box-shadow: none;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

.app-active-link {
    background-color: var(--app-blue);
    color: var(--app-white) !important;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
}

.app-not-active-link {
    transition: all 0.3s ease-in-out;
}

.app-not-active-link:hover {
    background-color: var(--app-blue);
    color: var(--app-white) !important;
    border-radius: 6px;
}

.app-divide {
    width: 100%;
    height: 3px;
    background-color: var(--app-light-grey);
    border-radius: 4px;
}

.app-divide-2 {
    width: 100%;
    height: 2px;
    background-color: var(--app-blue);
    border-radius: 4px;
}

.app-border-right {
    height: auto;
    border-right: 1px solid var(--app-black);
}

.pagination .page-item {
    color: var(--app-blue);
}

.pagination .page-link:focus {
    box-shadow: none;
}

.pagination .active .page-link {
    background-color: var(--app-blue);
    border-color: var(--app-blue);
    font-weight: var(--font-semi);
}

.pagination .active .page-link {
    font-weight: var(--font-medium);
}

.pagination .page-item.disabled .page-link {
    color: var(--app-grey);
}

/* Border Radius */
.app-border-8px {
    border-radius: 8px;
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1300px;
    }
}
